 <div class="col-7" >
        <div class="form-group" style="margin-bottom: 0; margin-top: 1.2rem;">
          <label class="pr-2" for="searchField">Pesquisar por: </label>
          <div class="form-check form-check-inline" *ngFor="let field of fields">
            <input class="form-check-input" id="searchField" [(ngModel)]="searchField" [value]="field.name" class="form-check-input" name="searchField" type="radio">
            <label class="form-check-label" for="searchField">{{field.desc}}</label>
          </div>
        </div>
          <div class="input-group mb-3"  *ngIf="searchField == 'cliente'">
            <input type="text" class="form-control" [(ngModel)]="searchValue"
              placeholder="Digite o nome do cliente" [disabled]="buscou">
            <div class="input-group-append">
              <button *ngIf="!buscou" (click)="search()" class="btn btn-outline-secondary float-md-right" type="button" id="button-addon2">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <button *ngIf="buscou" (click)="clear()" class="btn btn-outline-secondary float-md-right" type="button" id="button-addon2">
                <i class="fa fa-close" aria-hidden="true"></i>
              </button>
            </div>
          </div>

        <div *ngIf="searchField == 'status'">
          <div class="form-group">
            <label class="pr-2" for="searchField">Status: </label>
            <div class="form-check form-check-inline">
              <select class="form-control" id="iptStatus" [(ngModel)]="searchValue" name="iptStatus">
                <option value="PENDENTE_DE_ANALISE">PENDENTE DE ANALISE</option>
                <option value="ANALISANDO">ANALISANDO</option>
                <option value="AGUARDANDO_PARECER">AGUARDANDO PARECER</option>
                <option value="CANCELADO">CANCELADO</option>
                <option value="PROCESSANDO">PROCESSANDO</option>
                <option value="REMOVIDO">REMOVIDO</option>
                <option value="PENDENTE_DE_PAGAMENTO">PENDENTE DE PAGAMENTO</option>
                <option value="INCONCLUSIVO">INCONCLUSIVO</option>
                <option value="NOTIFICANDO_CLIENTE">NOTIFICANDO CLIENTE</option>
              </select>
            </div>
            <button *ngIf="!buscou" (click)="search()" class="btn btn-outline-secondary" type="button" id="button-addon2">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button *ngIf="buscou" (click)="clear()" class="btn btn-outline-secondary" type="button" id="button-addon2">
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
