
 <!-- PESQUISAR -->
    <div class="col-sm-12 col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="nomeCliente" placeholder="Nome do cliente" aria-label="Recipient's username"
          aria-describedby="button-addon2" [disabled]="buscou">
        <div class="input-group-append">
          <button *ngIf="!buscou" (click)="getByName()" class="btn btn-outline-secondary float-md-right" type="button" id="button-addon2">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button *ngIf="buscou" (click)="clear()" class="btn btn-outline-secondary float-md-right" type="button" id="button-addon2">
            <i class="fa fa-close" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>